section.repository-list{
    margin: 40px;
    
    h1{
        margin-bottom: 16px;
    }

    ul{
        list-style-type: none;
    }

    li{
        
        & + li{
            margin-top: 20px
        }

        p {
            font-size: 14px;
            color: #999;
            margin-top: 8px;
        }

        a{
            display: inline-block;
            margin-top: 16px;
            color: #8b0397;
            text-decoration: none;
            border-radius: 5px;
            background-color: #444;
            padding: 10px;
        }
    }
}